<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @secretary.name %>
</p>

<p>
  <b>Hospital:</b>
  <%= link_to @secretary.hospital.name, @secretary.hospital %>
</p>

<p>
  <b>Doctor:</b>
  <%= link_to @secretary.doctor.name, @secretary.doctor if @secretary.doctor %>
</p>


<%= link_to 'Edit', edit_secretary_path(@secretary) %> |
<%= link_to 'Back', secretaries_path %>
